<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="facilityOption">
	<insert id="insert" parameterType="FacilityOptionDto">
		insert into facilityOption values(option_seq.nextval,#{optionName},#{optionIcon})
	</insert>
	<select id="list" resultType="FacilityOptionDto">
		select * from facilityOption
	</select>
	
</mapper>