<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wish">
	<insert id="insert" parameterType="WishDto">
		insert into wish values(#{memberNo},#{roomNo})
	</insert>
	
	<delete id="delete" parameterType="WishDto">
		delete wish where wish_member_no=#{memberNo} and wish_room_no=#{roomNo}
	</delete>
	
	<select id="check" parameterType="WishDto" resultType="WishDto">
		select * from wish where wish_member_no=#{memberNo} and wish_room_no=#{roomNo}
	</select>
	<select id="mywish" parameterType="int" resultType="WishVo">
		select * from wish_view where wish_member_no=#{memberNo}
	</select>
</mapper>