<?xml version="1.0" encoding="UTF-8" ?>

<!-- mybatis 설정파일 -->

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- mybatis 운영방침과 관련된 설정 작성 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 필수설정 : 자바 변수명과 데이터베이스 컬럼명을 자동 매핑 변환 처리 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- mybatis 클래스 별칭 설정 -->
	<typeAliases>
		<package name="com.kh.project.vo"/>
		<package name="com.kh.project.entity"/>
		<package name="com.kh.project.hostentity"/>
		<package name="com.kh.project.roomentity"/>
		<package name="com.kh.project.reservationentity"/>
	</typeAliases>	
	
</configuration>