@charset "UTF-8";

main {
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}
		
header, section {
	text-align:center;
}
footer {
	text-align:left
}
section {
	min-height: 300px;
}
.sidebar {
	width:20%;
	min-height:500px;
}
.mainSection{
	width:80%;
}

	
.promotion, .notice, .planIndex {
	border: 1px solid rgb(240, 240, 240);
	width: 400px;
	height: 300px;
}
.promotion{
	position: relative;
}

.promotion img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

.promotion>.btn-pre, .promotion>.btn-next {
	border-style: none;
	position: absolute;
	height: 50px;
	width: 50px;
	font-size: 28px;
	font-weight: bold;
	color: white;
	opacity: 0.2;
	top: 50%;
	transform: translate(0, -50%);
}

.promotion>span{
	left: 10px;
	top: 10px;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	color: gray;
}

.btn-next:hover, .btn-pre:hover{
	opacity: 0.5;
	font-size: 32px;
}

.btn-next{
	left: 350px;
}
.btn-pre{
	left: 0px;
}