@charset "UTF-8";



        

        #price {
            width: 70%;
            border: medium none;
            padding: 10px;
            margin: 12px;
            font-size: 32px;
            font-weight: 600;
            line-height: 38px;
            box-sizing: border-box;
            text-align: center;
            outline-style: auto;
        }
        .price-box{
            display: inline-flex;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 250px;
        }
       #on{
           color: black;
       }
       /*
       		하단부분
       */
       

		/*
			반응형
		*/
        @media screen and (max-width: 744px){
           #left{
            position: fixed ;
            background-color: darkblue;
            height: 50%;
            width: 100%;
           }
           #right{
               width: 100%;
               margin-top: 380px;          
           }
           .price-box{
               margin-top: 0px;
           }
           #pirce{
               width: 100%;
           }
           .footer{
               margin-top: 0px;
           }
           .comment-box{
               margin: 0px;
           }
           .comment{
                margin-top: 220px;
                word-break: keep-all;
                font-size: 26px;
                margin-left: 30px;
           }
           
         }