@charset "UTF-8";

 	*{
            position: relative;
        }
        body{
            margin: 0px;
        }
        #first{
            width: 100%;
            height: 100%;
            display: flex;
        }
        .s{         
            height: 100%;
            display: inline-block;
        }
        #left{
            background-color: darkblue;
            justify-content: center ;
            height: 100%;
            width: 50%;
        }
        #right{
            width: 50%;
            height: 100%;
        }
        
         .comment{
            font-size: 48px;
            align-items: center;
            font-weight: 600;
            color: white;
            margin-top: 220px;
            word-break: keep-all;
        }
        .comment-box{
            margin: auto;
            max-width: 75% ;
            text-align: center;
            width: 100%;
            display: flex;    
        }
        .logo{
            display: inline;
            z-index: 1 ;
            top: 45px ;
            left: 50px ;
            box-sizing: border-box; 
            position: fixed;
        } 
        
        /*
        	하단
        */
        .footer{
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-top: 120px;
       }
       #footer-back-btn{
           margin-left: 48px;
       }
       #footer-next-btn{
           margin-right: 48px;
       }
       #back-btn{
           cursor: pointer;
           border-color: black;
           touch-action: manipulation;
           border-width: 1px;
           padding: 10px 10px;
           margin-left: -10px;
           text-decoration: underline;
           background: transparent;
       }
       #next-btn{
           text-decoration: none;
           width: auto;
           padding-top: 14px;
           padding-bottom: 14px;
           padding-left: 24px;
           padding-right: 24px;
           background: black;
           color: white;
       }
       .footer-btn{
            position: relative;
            line-height: 20px;
           font-weight: 600;
           border-radius: 8px;
           outline: none;
           font-size: 16px;
           display: inline-block;
           text-align: center;
           border: none;
       }
	#a-next{		
		text-decoration:none;
		color: white;
	}

	.filebox label {
		display: inline-block;
		padding: .5rem, .75rem;
		color: #999;
		font-size: inherit;
		line-height: normal;
		vertical-align: middle;
		background-color: #fdfdfd;
		cursor: pointer;
		border: 1px solid #ebebeb;
		border-bottom-color: #e2e2e2;
		border-radius: .25rem;
	}
	
	.filebox input[type="file"] {
		position: absolute; 
		width: 1px;
		height: 1px;
		padding: 0px;
		margin: -1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}

	#a-next{		
		text-decoration:none;
		color: white;
	}

	.filebox label {
		padding: 8px;
		cursor: pointer;
		border: 1px solid #ebebeb;
		border-radius: .25rem;
	}
	
	.filebox input[type="file"] {
		position: absolute; 
		width: 1px;
		height: 1px;
		padding: 0px;
		margin: -1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}
	
	.file-upload{
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 100%;
   		height: auto;
	}
	.file-box{
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-top: 20px;
	}
	.filebox{
		margin-bottom: 10px;
	}
	#preview{
		width: 350px;
		height: 350px;
	}
	
	 @media screen and (max-width: 744px){
    		#first{
    			flex-direction: column;
    		}	 
           #left{
           width: 100%;
            background-color: darkblue;
            height: 50%;
           }
           #right{
             width: 100%;
    		height: 50%;
   			 margin-top: 0;         
           }
           .footer{
               margin-top: 15px;
           }
           .comment-box{
               margin: 0px;
           }
           .comment{
                margin-top: 220px;
                word-break: keep-all;
                font-size: 26px;
                margin-left: 30px;
           }
           #preview{
           		width: 200px;
    			height: 200px;
           }
           .filebox{
           	   margin-bottom: 0;
           	   margin-right: 10px;
           }
           .file-box{
           		display: flex;
			    flex-direction: row;
			    align-items: center;
			    justify-content: center;
			    margin-top: 25px;
           }
      }	